/* ==|====================
   Utilities/Helpers
   ======================= */

/*Clearfix*/

.clearfix:matches(:after) {
   content: "";
   display: table;
   clear: both;
}

/*Screen reader text*/

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*Text alignment*/

.text-center {
	text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*Center elements*/

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.hide {
  display: none;
}

/*Thumbnail*/
.thumb {
  background: #ddd;
  border: 1px solid #b9b9b9;
  padding: 9px;
}

.bold {
  font-weight: 600;
}

.opacity1 {
  opacity: .9;
}
