section.marketing-panel.clearfix.picture-overlay#work
  div.content-wrapper
    h1.marketing-panel__title Work
    hr
    div.row
      div.col-xs-4
        a(href="/s360")
          img(src="images/s360thumb.png", alt="Simply360").opacity1
      div.col-xs-4
        a(href="/aca")
          img(src="images/acathumb.png", alt="American Camp Association").opacity1
      div.col-xs-4
        a(href="/jsp")
          img(src="images/jspthumb.png", alt="JSP Homecare NY").opacity1
      div.col-xs-4
        a(href="/shestf")
          img(src="images/shesthefirstthumb.png", alt="She's the First").opacity1
      div.col-xs-4
        a(href="/malltip")
          img(src="images/malltipthumb.png", alt="Malltip").opacity1
      div.col-xs-4
        a(href="/jsp")
          img(src="images/s360.png", alt="Tony Collins").opacity1
