section.marketing-panel.panel-texture.clearfix#projects
  div.content-wrapper
    h1.marketing-panel__title Projects
    hr
    div.row
      div.col-sm-4
        a(href="#")
          img(src="images/s360.png")
      div.col-sm-4
        a(href="#")
          img(src="images/s360.png")
      div.col-sm-4
        a(href="#")
          img(src="images/s360.png")
