extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2015
    h3 HTML, CSS, Ember, Responsive 
    br
      
    div.row
      div.col-sm-8.col-xs-12
        img.thumb(src="images/aca/aca-step-1.png", alt="Find a Camp - Step 1")
        img.thumb(src="images/aca/aca-step-2.png", alt="Find a Camp - Step 2") 
        div.row
          div.col-sm-6.col-xs-12 
            img.thumb(src="images/aca/aca-mobile-1.png", alt="Find a Camp - Mobile Home")
          div.col-sm-6.col-xs-12 
            img.thumb(src="images/aca/aca-mobile-2.png", alt="Find a Camp - Mobile Results")
              
      div.col-sm-4
        h3 Description
        hr
        p Working with 
          a(href="http://solveitsimply.com/who-we-are") SolveItSimply 
          |, we created a "Find a Camp" tool for the American Camp Association's upcoming website. The purpose of 
          | this tool was to help parents find the right camp for their children. It was also meant 
          | to be integrated with the ACA's 
          a(href="http://simply360.com", target="_blank") Simply360 
          | database, helping them record accurate information for their partnering camps.       
        
        p I was responsible for designing and developing a simple step-by-step user interface to be viewed on 
          | both desktop and mobile. For this project I used bootstrap along with custom CSS and it was built on the
          | Ember.js framework.     
        
        p This newly redesigned site has not yet launched, but you can take a sneek peak 
          a(href="http://acanynj.publishpath.com/") here 
          |. 
