extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2015
    h3 HTML, CSS, Ember, Responsive 
    br
      
    div.row
      div.col-sm-8
        img.thumb(src="images/s360/s360-people.jpg", alt="Simply360 Card View")
      
      div.col-sm-4
        h3 Description
        hr
        p Simply360 is a NY based startup that caters to non-profits by providing all software solutions they could need. 
        | I was responsible for taking the designs to the web. I created the full UI Kit and implemented all design ideas. 
