extends _layout

block content

      header.l-header.banner
        div.content-wrapper
          div.banner__text
            span.banner__text--title Miguel Fondeur
            span.banner--header
              h1.banner__text--header Born To Build
            span.banner__text--sub UX/UI Developer

      section.marketing-panel.panel-texture.clearfix#about
        div.content-wrapper
          div.panel--content
            h1.panel--heading About Me
            h2.panel--subheading Developer / Designer / Drummer / 
            p 
              | Hi, I'm a UX/UI Developer currently based in Orlando,FL. What is a 
              | UX/UI Developer you ask? Well, in short, I create the things you see 
              | and interact with on the web. And I make sure you feel good doing it.
              | If you have a web project or just want to chat feel free to contact
              | me below. 
      
      section.marketing-panel.clearfix.picture-overlay#work
        div.content-wrapper
          div.panel--content
            h1.panel--heading Work
            h2.panel--subheading Some of the Clients I've worked for
          div.row
            div.col-xs-4
              a(href="/s360")
                img(src="images/s360thumb.png", alt="Simply360").opacity1
            div.col-xs-4
              a(href="/aca")
                img(src="images/acathumb.png", alt="American Camp Association").opacity1
            div.col-xs-4
              a(href="/jsp")
                img(src="images/jspthumb.png", alt="JSP Homecare NY").opacity1
            div.col-xs-4
              a(href="/shestf")
                img(src="images/shesthefirstthumb.png", alt="She's the First").opacity1
            div.col-xs-4
              a(href="/malltip")
                img(src="images/malltipthumb.png", alt="Malltip").opacity1
            div.col-xs-4
              a(href="/jsp")
                img(src="images/tonycollinsthumb.png", alt="Tony Collins").opacity1
      
      section.marketing-panel.clearfix#contact 
        div.content-wrapper
          div.panel--content
            h1.panel--heading Contact
            h2.panel--subheading Feel free to reach out
          
            div.row.text-left
              div.col-sm-8 
                h2 Lets Talk 
                form
                  div
                    label Name
                    input(type="text")
                  div
                    label Email Address
                    input(type="text")
                  div
                    label Message 
                    textarea(cols="50") 
              div.col-sm-4
                h2 Links
                ul
                  li  
                    a(href="https://www.linkedin.com/in/miguelfondeur")
                      i.icon-linkedin-1
                      span LinkedIn
                  li  
                    a(href="https://github.com/miguelfondeur")
                      i.icon-github-alt
                      span Github   
                  li  
                    a 
                      i.icon-codepen(href="https://www.codepen.io/miguelfondeur")
                      span Codepen
                  li  
                    a(href="https://www.behance.net/mfondeur") 
                      i.icon-behance-1
                      span Behance
                ul
                  li
                    a(href="mailto:miguelfondeur@gmail.com") 
                      i.icon-envelope-o
                      span Mail
                  li  
                    a(href="/static-files/miguelfondeur_resume.pdf", download)
                      i.icon-file-pdf-o
                      span Resume
