extends _layout

block content

      header.l-header.banner
        div.content-wrapper
          div.banner__text
            span.banner__text--title Miguel Fondeur
            span.banner--header
              h1.banner__text--header Born To Build
            span.banner__text--sub UX/UI Developer

      section.marketing-panel.panel-texture.clearfix#about
        div.content-wrapper
          div.panel--content
            h1.panel--heading About Me
            h2.panel--subheading Developer / Designer / Drummer / 
            p 
              | Hi, I'm a UX/UI Developer currently based in Orlando,FL. What is a 
              | UX/UI Developer you ask? Well, in short, I create the things you see 
              | and interact with on the web. And I make sure you feel good doing it.
              | If you have a web project or just want to chat feel free to contact
              | me below. 
      
      section.marketing-panel.clearfix.picture-overlay#work
        div.content-wrapper
          div.panel--content
            h1.panel--heading Work
            h2.panel--subheading Some of the Clients I've worked for
          div.row
            div.col-xs-4
              a(href="/s360")
                img(src="images/s360/s360thumb.png", alt="Simply360").opacity1.thumb
            div.col-xs-4
              a(href="/aca")
                img(src="images/aca/acathumb.png", alt="American Camp Association").opacity1.thumb
            div.col-xs-4
              a(href="/jsp")
                img(src="images/jsp/jspthumb.png", alt="JSP Homecare NY").opacity1.thumb
            div.col-xs-4
              a(href="/shestf")
                img(src="images/shesthefirst/shesthefirstthumb.png", alt="She's the First").opacity1.thumb
            div.col-xs-4
              a(href="/malltip")
                img(src="images/malltip/malltipthumb.png", alt="Malltip").opacity1.thumb
            div.col-xs-4
              a(href="/tonycollins")
                img(src="images/tonycollins/tonycollinsthumb.png", alt="Tony Collins").opacity1.thumb
      
      section.marketing-panel.clearfix#contact 
        div.content-wrapper
          div.panel--content
            h1.panel--heading Contact
            h2.panel--subheading Feel free to reach out
          
            div.row.text-left
              div.col-sm-8 
                h2 Lets Talk 
                form
                  div
                    label Name
                    input(type="text")
                  div
                    label Email Address
                    input(type="text")
                  div
                    label Message 
                    textarea(cols="50") 
              div.col-sm-4
                h2 Links
                
                h3 Social
                ul.link-nav
                  li.link-nav__item  
                    a(href="https://www.linkedin.com/in/miguelfondeur").round-icon
                      i.icon-linkedin-1
                        
                  li.link-nav__item   
                    a(href="https://github.com/miguelfondeur").round-icon
                      i.icon-github-alt
          
                  li.link-nav__item   
                    a(href="https://www.codepen.io/miguelfondeur").round-icon 
                      i.icon-codepen
                    
                  li.link-nav__item   
                    a(href="https://www.behance.net/mfondeur").round-icon 
                      i.icon-behance-1
                    
                h3 Other
                ul.link-nav
                  li.link-nav__item 
                    a(href="mailto:miguelfondeur@gmail.com").round-icon 
                      i.icon-envelope-o
                  
                  li.link-nav__item   
                    a(href="/static-files/miguelfondeur_resume.pdf", download).round-icon
                      i.icon-file-pdf-o
            
