extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2015
    h3 HTML, CSS, Ember, Responsive 
    br
      
    div.row
      div.col-sm-8
        img.thumb(src="images/jsp/jsp.png", alt="JSP Homecare Homepage")
    
      div.col-sm-4
        p "Nonprofit software made easy". Simply360 was created by 
          a(href="http://solveitsimply.com/who-we-are") SolveItSimply 
          | to aid nonprofits with all of
          | their administrative needs. It's simple and user-friendly interface will allow them
          | to manage staff, create reports, and even handle event check-ins. It is the first nonprofit 
          | software to be built as a single page responsive application using the latest industry tools.
        
        p As the team's UX Developer I was responsible for translating the Photoshop design documents to the web using 
          | HTML/Handlebars, CSS/Sass, and Javascript/Ember.js. This included all UI elements, interaction, and 
          | responsive grid implementation. 
        
        p Simply360 is still in the beta stage but you can find out more at 
          a(href="http://simply360.com", target="_blank") simply360.com
          |. 
