extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2015
    h3 HTML, CSS, Ember, Responsive 
    br
      
    div.row
      div.col-sm-8.col-xs-12
        img(src="images/jsp/jsp-home.png", alt="JSP Homepage").thumb
        img(src="images/jsp/jsp-children.png", alt="JSP Children Page").thumb
        
      br
      div.col-sm-4.col-xs-12
        h3 Description
        hr
        p JSP Life Agency provides homecare solutions for the elderly and childern with special needs in NYC. 
        
        p JSP contracted me to redesign their website and help rebrand their company. They 
          | wanted to promote both their elderly homecare services as well as childcare. The challenge 
          | was conveying a strong brand throughout the site while creating a completely different theme 
          | for their childcare section. I decided to go with a series of scrollable pages for each 
          | major section of the site. To express that JSP would be available from morning until night I chose 
          | a series of color gradients that matched each time of the day for the childcare page. 
        
        p JSP is still not ready to unveil the new design but you can find out more at 
          a(href="http://jsplifeagency.com", target="_blank") jsplifeagency
          |. 
