extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2014
    h3 Balsamiq Mochups / User Flow / Mobile
    br
      
    div.row
      div.col-sm-8.col-xs-12
        img.thumb(src="images/malltip/malltip-wireframe1.png", alt="")
        img.thumb(src="images/malltip/malltip-wireframe2.png", alt="")
        img.thumb(src="images/malltip/malltip-wireframe3.png", alt="")

      div.col-sm-4
        h3 Description
        hr
        p During my time at the 
          a(href="http://startupinstitute.com") Startup Institute 
          | of NY my team and I were tasked with creating a brand awarensss program for NY based startup 
          a(href="http://Malltip.com", target="_blank")  Malltip
          |  before their application launch. Malltip is a mobile app designed to help shoppers 
          | navigate malls and find deals.
          
        p I created wireframes for a standalone application idea called "Shoptip". Shoptip would incentivise users
          | to create tips for the Malltip app such as coupon deals, best food court restaurants, etc. Once the 
          | Shoptip app was a success it would be integrated with its parent app. 
         
        p Though this idea was never fully realised, the companies cofounder Wai Yong was able to use many of 
          | the ideas and information that my team provided to aid the launch of Malltip. To find out more you can 
          | visit the Malltip website
          a(href="http://malltip.com", target="_blank")  here 
          |.
