extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2014
    h3 Photoshop, Branding, HTML, CSS  
    br
      
    div.row
      div.col-sm-8.col-xs-12
        img.thumb(src="images/shesthefirst/shesthefirst1.png", alt="Be the First homepage")
        img.thumb(src="images/shesthefirst/shesthefirst2.png", alt="Be the First about section")
        img.thumb(src="images/shesthefirst/shesthefirst3.png", alt="Be the First app section")
        div.row
          div.col-sm-6.col-xs-12
            img.thumb(src="images/shesthefirst/shesthefirst-mobile1.png", alt="Be the First Mobile")
          div.col-sm-6.col-xs-12
            img.thumb(src="images/shesthefirst/shesthefirst-mobile2.png", alt="Be the First Mobile RSVP")

      br
      div.col-sm-4.col-xs-12
        h3 Description
        hr
        p During my time at the 
          a(href="http://startupinstitute.com") Startup Institute 
          | of NY my team and I won 1st place in an 
          | idea hackathon for NY based start-up 
          a(href="http://shesthefirst.com", target="_blank") She's the First
          |. She's the First provides scholarships to girls in low-income countries with the goal
          | of creating first-generation graduates and the next generation of global leaders. My 
          | team was tasked with creating a fundraising event from idea to conception.
          
        p Wanting to create a strong call to action, I named the event "Be the First". I was responsible 
         | for aiding my team in all aspects of design but specifically created the events homepage 
         | where potential investors could learn more about their cause and RSVP for the event. I used custom   
         | bootstrap for the responsive layout and Photoshop for all image editing. 
         
        p The event was a success and although the webpage is no longer live you can learn more about the 
          | company and it's mission 
          a(href="http://shesthefirst.com", target="_blank") here
          |.
