extends _layout

block content
  div.container-static
    div.row
      div.col-sm-8
          img.thumb(src="images/s360.png", alt="Simply360 Card View")
          img.thumb(src="images/s360.png", alt="Simply360 Card View")
      div.col-sm-4
        h2 #{title}
        span HTML, CSS, Ember, Responsive 
        
        p Simply360 is a NY based startup that caters to non-profits by providing all software solutions they could need. 
        | I was responsible for taking the designs to the web. I created the full UI Kit and implemented all design ideas. 
