extends _layout

block content
  div.container-static
    h1.portfolio--title #{title}
    span.portfolio--title__date 2014
    h3 HTML, Bootstrap, PHP, Photoshop
    br
      
    div.row
      div.col-sm-8.col-xs-12
        img.thumb(src="images/tonycollins/tonycollins-home.png", alt="Tony Collins Homepage")
        img.thumb(src="images/tonycollins/tonycollins-store.png", alt="Tony Collins Homepage")
        img.thumb(src="images/tonycollins/tonycollins-photos.png", alt="Tony Collins Homepage")
      
      div.col-sm-4
        h3 Description
        hr
        p Former NFL Patriot Tony Collins has dedicated his life to helping young people succeed. 
          | His book "Broken Road" tells the story of how making the wrong decision can hinder your success.
          
        p I was contracted to build
          a(href="http://tonycollinsprojects.com", target="_blank")  tonycollinsprojects.com 
          | where he could market his services and promote his cause of helping the youth
          | in one place. I built a responsive site using bootsrap, custom css, and PHP. I used PHP for  
          | form submission on the "booking" page and to connect to his paypal account on the "store" page.
          | Photoshop was used to bring older photos to life, (ex. trasparent blue overlay in the header).
          
        p You can view his website 
          a(href="http://tonycollinsprojects.com", target="_blank") here
          |.
