/* ==|====================
   Layout/Footer
   ======================= */

.l-footer {
  background: transparent;
  flex: none;
  position: relative;
  perspective: 500px;
  height: 30%;
  width: 100%;
}

.footer-buttons {
  width: 100%;
  position: absolute;
  height: 100px;
  left: 0;
  top: 0;
}

.footer-buttons .button-container {
  margin: 0 auto;
  width: 80%;
  display: block;
  position: relative;
  text-align: center;
}

.footer-image {
  position:absolute;
  width:100%;
  height: 780px;
  left: 0px;
  bottom: -95px;
  /*background: url(../../images/honeycomb.svg) repeat center;*/
  background-size: cover;
  transform: rotateX( 48deg );
}
