/* ==|====================
  Layout/Main
  ======================= */

.main-wrapper {
  overflow: scroll;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%
}

.main-content {
  flex: 1 0 auto;
}

.container-static {
  width: 960px;
  margin: 0 auto;
  padding-top: 120px;
}

@media(--max_container) {
  .content-wrapper {
    width: 960px;
  }
}

@media(--min_container) {
  .content-wrapper {
    width: 1200px;
  }
}
