/* ==|====================
  Layout/Main
  ======================= */

.site-content {
  flex: 1 0 auto;
  padding: 1.5em 1.5em 0;
  width: 100%;
  z-index: 2;
  min-height: 405px;
}


.container {
  width: 250px;
  height: 210px;
  position: relative;
  margin: 0 auto 40px;
  -webkit-perspective: 1100px;
  perspective: 1100px;
  border-radius: 50%;
}
