/* ==|====================
  Layout/Navigation
  ======================= */

.navbar {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 4px solid black;
}

.navbar--top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  height: 70px;
}
.nav__item {
  font-family: Lato,sans-serif;
  font-variant: small-caps;
}

.nav__item a{
  padding: 10px 15px;
  color: #000;
  font-weight: 400;
  font-size: 1.17em;
}

.nav__item.nav__title {
  margin-right: auto;
  font-size: 32px;
  font-variant: normal;
}

.nav__item.nav__title a {
  font-family: var(--font_title);
  color: black;
  font-size: 3rem;
}

.nav__item a:hover {
  color: #45667f;
}

/*link-navs*/

.link-nav {
  margin-bottom: 20px;
}

.link-nav__item {
  display: inline;
}


@media (max-width: 540px) {
  .nav__title {
    display: none;
  }
  .nav__item.show-mobile {
    display: inline;
  }
  .link-nav {
    text-align: center;
  }
}
