/* ==|====================
   Modules/Banner
   ======================= */

.banner {
  background: url(/images/banner.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
}

.l-header.banner {

}

.banner__text {
  text-align: center;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 300px;
}

.banner__text--title {
  font-size: 6.4rem;
  font-family: var(--font_title);
  margin-bottom: -26px;
  display: block;
  z-index: 5;
  position: relative;
}

.banner--header {
  border-top: 4px solid;
    border-bottom: 4px solid;
    display: block;
    color: #6194bc;
    line-height: 102px;
    opacity: .75;
    z-index: 1;
}
.banner__text--header {
  font-family: var(--font_header);
  font-size: 100px;
  color: #6194bc;
  letter-spacing: -2px;
}

.banner__text--sub {
  font-size: 3.2rem;
  font-family: Lato,sans-serif;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 200;
  padding-top: 5px;
  display: block;
}

@media (max-width: 1000px) {
  .banner__text--title {
    font-size: 4.6rem;
    margin-bottom: -20px;
  }
  .banner--header {
    margin: 0 50px;
    line-height: 75px;
  }
  .banner__text--header {
    font-size: 65px;
  }
  .banner__text--sub {
    font-size: 2.5rem;
  }
  .banner__text {
    padding: 150px 0px;
  }
}

@media (max-width: 480px) {
  .banner--header {
    margin: 0;
    line-height: 45px;
  }
  .banner__text--header {
    font-size: 40px;
  }
  .banner__text--title{
    font-size: 3.6rem;
    margin-bottom: -14px;
  }
  .banner-text {
    padding: 100px 0px;
  }
  .banner__text--sub {
    font-size: 2.2rem;
  }
  .banner {
    background: url(/images/banner-small.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #444;
    background-blend-mode: multiply;
  }
}
