/* ==|====================
   Modules/Banner
   ======================= */

.banner {
  background: url(/images/banner.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
}

.l-header.banner {

}

.banner__text {
  text-align: center;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 300px;
}

.banner__text--title {
  font-size: 6.4rem;
  font-family: var(--font_title);
  margin-bottom: -26px;
  display: block;
  z-index: 5;
  position: relative;
}
.banner--header {
  border-top: 4px solid;
    border-bottom: 4px solid;
    display: block;
    color: lightblue;
    line-height: 102px;
    opacity: .7;
    z-index: 1;
}
.banner__text--header {
  font-family: var(--font_header);

font-size: 100px;
color: lightblue;
letter-spacing: -2px;
}

.banner__text--sub {
  font-size: 3.6rem;
  font-family: var(--font_sub);
}
