/* ==|====================
  Modules/Marketing-Panel
  ======================= */

.marketing-panel {
  padding: 130px 0;
  border-bottom: 4px solid black;
}

.panel--content {
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
}

.panel--content p {
  font-size: 2rem;
  font-weight: 300;
}

.picture-overlay {
  background: url(/images/bridge.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
  color: #fff;
}

.panel-texture {
  background: #eee url(/images/noise.png) repeat top left;
}

.panel--heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid;
}

.panel--subheading {
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
